body.activated {
  background: linear-gradient(135deg, #02a3eb, #023d58);
  color: #d1d0d0;
}

body.activated .sub-menu {
  color: #d1d0d0;
}

body.activated .header-button:hover {
  color: #000000de;
}

body.activated .contact-subMenu a:hover {
  color: #000000de;
}

body.activated .side-nav a:hover {
  color: #000000de;
}
