body.activated {
  background: linear-gradient(135deg, #02a3eb, #023d58);
  color: #e8e8e8;
}

body.activated .sub-menu {
  color: #e8e8e8;
}

body.activated .sub-menu a:hover {
  color: #000000de;
}

.side-nav a:hover {
  color: #000000de;
}
