* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.125rem;
}

body {
  background: linear-gradient(135deg, #023d58, #02a3eb);
  color: #000000de;
  font-family: "Space Grotesk", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  text-decoration: none;
  list-style: none;
}

img {
  /* aspect-ratio: 1; */
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* .navImg img {
  width: 40px;
  height: 40px;
} */

.main-structure {
  display: grid;
  grid-template:
    ". header header" 0.7fr
    "side-nav main-content ." 1fr
    "side-nav main-content ." 1fr
    "footer footer footer" 0.5fr
    / 1fr 2fr 0.5fr;
}

.header {
  grid-area: header;
  grid-template-columns: 0.8fr 0.5fr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.title {
  grid-area: header;
  display: flex;
  align-items: baseline;
}

.title h1 {
  font-family: "Permanent Marker";
  font-size: 3.2rem;
  font-weight: normal;
}

.title span {
  margin-left: 20px;
  font-family: "Space Grotesk";
  font-size: 1.3rem;
}

.nav {
  grid-area: header;
  display: flex;
  align-items: center;
  margin-right: 3.125rem;
}

.nav-elements {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-elements a {
  background-color: #023d58;
  display: flex;
  margin-right: 0.9rem;
  font-weight: bold;
  padding: 0.7rem 0.9rem;
  border-radius: 6px;
}

.nav-elements img {
  align-self: self-start;
}

.side-nav {
  grid-area: side-nav;
  margin-top: 20px;
  margin-bottom: 20px;
}

.side-nav li img {
  margin-bottom: 0;
  padding: 0;
}

.side-nav a {
  font-weight: bolder;
}

.main-content {
  grid-area: main-content;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-section h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

.content-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.title-section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-section h2 {
  margin-top: 10px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
}

.footer .contacts {
  display: flex;
  align-items: center;
}

.footer .contacts li {
  margin: 10px;
}

.footer img {
  width: 50px;
  height: 50px;
}
