body,
p,
h1,
h2,
span,
div,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #023d58, #02a3eb);
  color: #000000de;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  text-decoration: none;
  list-style: none;
}

.main-structure {
  display: grid;
  grid-template:
    '. header header' 0.4fr
    'side-nav main-content main-content' 1fr
    'side-nav main-content main-content' 1fr
    'footer-background footer-background footer-background' 0.3fr
    / 0.8fr 2fr 0.8fr;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

header .title {
  padding: 20px;
  padding-left: 0;
}

header .title p {
  display: inline;
}

header .title span {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
}

header .nav {
  padding: 20px;
  padding-right: 2rem;
}

.title h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3rem;
  font-weight: 1000;
}

.title p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.1rem;
}

.nav-elements {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 20px 80px 20px 0;
}

/* botão: contato */
.nav-elements .header-button {
  background-color: #023d58;
  margin-right: 40px;
  font-weight: bold;
  border-radius: 6px;
  padding: 10px 12px;
}

.nav-elements .header-button:hover {
  color: #d1d0d0;
}

/* imagem: lua */
.nav-elements .navImg img {
  max-height: 70px;
  max-width: 70px;
}

.side-nav {
  grid-area: side-nav;
  margin: 30px 20px 10px 5px;
}

.side-nav .buttons li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.side-nav .buttons li:nth-of-type(1),
.side-nav .buttons li:nth-of-type(2) {
  padding-left: 8px;
}

.side-nav .buttons img {
  max-height: 100px;
  max-width: 100px;
  flex-shrink: 0;
}

.side-nav .buttons li:nth-of-type(1) a,
.side-nav .buttons li:nth-of-type(2) a {
  padding-left: 8px;
}

.side-nav a {
  font-weight: bolder;
}

.side-nav a:hover {
  color: #d1d0d0;
}

.side-nav .in-development-img img {
  filter: grayscale(80%) blur(0.5px);
}

.main-content {
  grid-area: main-content;
  margin: 15px 30px 10px 20px;
}

.content-section {
  padding: 20px;
  padding-right: 20px;
}

.content-section h1 {
  padding-bottom: 30px;
  font-size: 2.2rem;
}

.description-section {
  padding-bottom: 10px;
}

.description-section a:hover {
  color: #d1d0d0;
}

.description-section .title-section {
  padding-bottom: 10px;
}

.description-section .title-section h2 {
  font-size: 1.8rem;
}
.description-section .description-projects {
  padding-bottom: 10px;
}

.description-section .title-projects {
  padding: 10px 0 5px 0;
}

.description-section .subtitle-section {
  padding: 5px 0;
}

.description-section .subtitle-section h2 {
  font-size: 1.3rem;
}

.description-section .description-section-div {
  padding-bottom: 10px;
}

.description-section .description-about {
  padding-bottom: 30px;
}

.description-section .description-about p {
  font-size: 1.2rem;
}

.contacts p {
  width: fit-content;
  padding-bottom: 10px;
  font-weight: 600;
}

.contacts p:hover {
  color: #d1d0d0;
}

.footer-background {
  grid-area: footer-background;
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.footer .footer-contacts {
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.footer .footer-contacts li {
  margin: 10px;
}

.footer .footer-contacts img {
  display: block;
  max-width: 40px;
}
