@media (max-width: 750px) {
  nav .side-button {
    display: flex;
  }

  [data-menu='side-list'] {
    display: none;
  }

  [data-menu='side-list'].activated {
    display: block;
    animation: drop-right 0.5s forwards;
  }
}
/* 1150 */

/* 800 */
