[data-contactMenu] {
  position: relative;
}

[data-contactMenu] .contact-subMenu {
  display: none;
}

[data-contactMenu].activated .contact-subMenu {
  display: block;
  animation: dropdown-submenu 0.3s forwards;
}

/*  */
.contact-subMenu {
  position: absolute;
  top: 55px;
  left: -90px;
  background-color: #023d58a6;
  border: 3px solid #00000041;
  z-index: 2;
}

.contact-subMenu a:hover {
  color: #e8e8e8;
}

.contact-subMenu img {
  max-width: 100%;
  max-height: 100%;
}

.contact-subMenu::before {
  content: '';
  display: block;
  position: absolute;
  top: -17px;
  left: 130px;
  width: 0;
  height: -10px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 16px solid #0c0c0c;
}

.contact-sub-menu li a:hover {
  color: white;
}
