[data-contactMenu] {
  position: relative;
}

[data-contactMenu] .contact-subMenu {
  display: none;
  position: absolute;
  top: 55px;
  left: -90px;
  background-color: #023d58a6;
  border: 3px solid #00000041;
  z-index: 2;
  padding: 10px 0;
  min-width: 200px;
  border-radius: 6px;
}

[data-contactMenu].activated .contact-subMenu {
  display: block;
  animation: dropdown-submenu 0.3s forwards;
}

.contact-subMenu li {
  /* Aplicando Flexbox para alinhar horizontalmente img e texto */
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 4px 10px;
  gap: 3px;
}

.contact-subMenu li a {
  width: 100%;
  height: 100%;
  background-color: #023d58;
  font-weight: bold;
  border-radius: 6px;
  padding: 8px 12px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.contact-subMenu a:hover {
  color: #d1d0d0;
}

.contact-subMenu li img {
  display: block;
  object-fit: contain;
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.contact-subMenu::before {
  content: '';
  display: block;
  position: absolute;
  top: -17px;
  left: 130px;
  width: 0;
  height: -10px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 16px solid #0c0c0c;
}
