[data-contactMenu] {
  position: relative;
}

[data-contactMenu] .contact-subMenu {
  display: none;
}

[data-contactMenu].activated .contact-subMenu {
  display: block;
  animation: dropdown-submenu 0.3s forwards;
}

/*  */
.contact-subMenu {
  position: absolute;
  top: 47px;
  left: -90px;
  background-color: #023d58a6;
  border: 3px solid #00000041;
  z-index: 2;
}

.contact-subMenu a:hover {
  color: #e8e8e8;
}
.contact-subMenu img {
  width: 50px;
  height: 50px;
}

.contact-subMenu::before {
  content: '';
  display: block;
  position: absolute;
  top: -11px;
  left: 99px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 12px solid #0c0c0c;
}

.contact-sub-menu li a:hover {
  color: white;
}
