@use 'variables.scss';

body,
p,
h1,
h2,
span,
div,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #023d58, #02a3eb);
  color: var(--bt-cl-primary);
  font-family: 'Open Sans', sans-serif;

  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    text-decoration: none;
    list-style: none;
  }
}

.main-structure {
  display: grid;
  grid-template:
    '. header header' 0.4fr
    'side-nav main-content main-content' 1fr
    'side-nav main-content main-content' 1fr
    'footer-background footer-background footer-background' 0.3fr
    / 0.8fr 2fr 0.8fr;

  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.5rem;

    .header-title {
      padding: 1.25rem;
      padding-left: 0;

      h1 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 3rem;
        font-weight: 1000;
      }

      p {
        display: inline;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.1rem;
      }

      span {
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.1rem;
      }
    }

    .nav {
      padding: 1.25rem;
      padding-right: 2rem;

      .nav-elements {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 1.25rem 5rem 1.25rem 0;

        .header-button {
          background-color: #023d58;
          margin-right: 2.5rem;
          font-weight: bold;
          border-radius: 6px;
          padding: 10px 12px;
        }

        .header-button:hover {
          color: var(--lt-cl-primary);
        }

        .navImg {
          img {
            cursor: pointer;
            max-height: 70px;
            max-width: 70px;
          }
        }
      }
    }
  }

  .side-nav {
    grid-area: side-nav;
    margin-left: 0.8rem;

    a {
      font-weight: bolder;
    }

    a:hover {
      color: var(--lt-cl-primary);
    }

    .buttons {
      li {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      img {
        max-height: 100px;
        max-width: 100px;
        flex-shrink: 0;
      }
    }

    .in-development-img {
      filter: grayscale(80%) blur(0.5px);
    }
  }

  .main-content {
    grid-area: main-content;
    margin: 15px 1.875rem 10px 1.25rem;

    .content-section {
      padding: 1.25rem;
      padding-right: 1.25rem;

      h1 {
        padding-bottom: 1.875rem;
        font-size: 2.2rem;
      }

      .description-section {
        padding-bottom: 10px;

        a:hover {
          color: var(--lt-cl-primary);
        }

        .description-div {
          padding-bottom: 10px;
        }

        .about {
          padding-bottom: 30px;

          p {
            font-size: 1.2rem;
          }
        }

        .section-title {
          padding-bottom: 10px;

          h2 {
            font-size: 1.8rem;
          }
        }

        .projects {
          padding-bottom: 10px;
        }

        .projects-title {
          padding: 10px 0 5px 0;
        }

        .section-subtitle {
          padding: 5px 0;

          h2 {
            font-size: 1.3rem;
          }
        }

        .contacts {
          p {
            width: fit-content;
            padding-bottom: 10px;
            font-weight: 600;
          }

          p:hover {
            color: var(--lt-cl-primary);
          }
        }
      }
    }
  }

  .footer-background {
    grid-area: footer-background;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    justify-content: center;

    .footer-contacts {
      display: flex;
      align-items: center;
      border-radius: 6px;

      li {
        margin: 10px;
      }
      a:hover {
        color: var(--lt-cl-primary);
      }
      img {
        display: block;
        max-width: 40px;
      }
    }
  }
}
