[data-section='section'] section {
  display: none;
}

[data-section='section'] section.activated {
  display: block;
}

[data-section='section'] section.activated.drop-right {
  animation: drop-right 0.7s forwards;
}
